<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sem Conexão</title>

    <script>
        function start() {
            setInterval(() => {
                //verificar conexão da internet
                isOnline();

                function getRandomString() {
                    return Math.random().toString(36).substring(2, 15)
                }

                async function isOnline() {
                    if (!window.navigator.onLine) return false

                    // avoid CORS errors with a request to your own origin
                    const url = new URL("https://picsum.photos/seed/0.7792404176005108/600/300")

                    // random value to prevent cached responses
                    url.searchParams.set('rand', getRandomString())

                    try {
                        const response = await fetch(
                            url.toString(),
                            {method: 'HEAD'},
                        )
                        console.log("online");
                        window.open('{{ url_for('index') }}', "_self");
                        return false
                    } catch {
                        console.log("offline");
                        return response.ok
                    }
                }
            }, 3000)
        }

        window.addEventListener("load", start)
    </script>

</head>
<body style="background: black;padding-top: 80%;overflow:hidden;">

<div style="display: flex;justify-content: center;align-items: center;">

    <img style="width: 100px; height: 100px;" src="../static/icons/offnet.png">
    <div style="color: white;font-size: 75px;font-family: Arial;">Sem Conexão</div>

</div>

</body>
</html>